<div
	class="wb-widget-fill"
	layout="column">
	<md-toolbar class="md-hue-2">
		<div class="md-toolbar-tools">
			<span translate>{{wbModel.label}}</span>
		</div>
	</md-toolbar>
	<p translate>{{wbModel.description}}</p>
    <nvd3 
    	options="options" 
    	data="data"
		api="api"
		config="config"
    	flex>
    </nvd3>
</div>