
<md-input-container 
	class="md-icon-float md-block">
	<label translate>Interval (second)</label>
	<input ng-model="wbModel.interval" type="text">
</md-input-container>

<div
	ng-repeat="metric in wbModel.metrics track by $index">
	<md-input-container 
		class="md-icon-float md-block">
		<label translate>Metric name</label>
		<input ng-model="metric.name" type="text">
	</md-input-container>
	<md-input-container 
		class="md-icon-float md-block">
		<label translate>Color</label>
		<input ng-model="metric.color" type="text">
	</md-input-container>
	<md-switch 
		ng-model="metric.rightSide" 
		aria-label="Switch 2">
		<span translate="">Right side</span>
	</md-switch>
	<div>
		<md-button
			ng-click="ctrl.deleteMetric($index)">
			<wb-icon>delete</wb-icon>
		</md-button>
	</div>
	<md-divider></md-divider>
</div>
<div>
	<md-button
		ng-click="ctrl.addMetric()">
		<wb-icon>add</wb-icon>
	</md-button>
</div>