<!doctype html>
<html ng-app="MyTestModule">
  <head>
    <meta charset="utf-8">
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta name="viewport" content="width=device-width">

    <!--  injector:base-tag -->
    <base href="/" >
    <meta name="fragment" content="!">
    <!--  endinjector  -->
    
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/pikaday/css/pikaday.css" />
    <link rel="stylesheet" href="bower_components/handsontable/dist/handsontable.css" />
    <link rel="stylesheet" href="bower_components/md-color-picker/dist/mdColorPicker.min.css" />
    <link rel="stylesheet" href="bower_components/jspanel4x/dist/jspanel.css" />
    <link rel="stylesheet" href="bower_components/am-wb-core/dist/am-wb-core.css" />
    <link rel="stylesheet" href="bower_components/lf-ng-md-file-input/dist/lf-ng-md-file-input.css" />
    <link rel="stylesheet" href="bower_components/am-wb-seen-core/dist/am-wb-seen-core.css" />
    <link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css" />
    <!-- endbower -->
    <!-- endbuild -->

	<!-- build:css({.tmp/serve,src}) styles/app.css -->
	<!-- injector:css -->
	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="styles/main.css">
	<!-- endinjector -->
	<!-- endbuild -->
  </head>
  
<body ng-controller="WidgetTestCtrl">
	<div
		layout="row"
		layout-fill>
		<div flex>
	       <md-content	    	
	       		layout="column">
		        <section layout="row" layout-align="center center">
		            <md-button
		                    ng-class="{'md-primary' : editable}"
		                    class="wb-group-button left"
		                    ng-click="editable=!editable">
		                <wb-icon>edit</wb-icon>
		            </md-button>
		       </section>
				<wb-group
					wb-on-model-select="loadSettings($model)"
					wb-editable="editable"
					ng-model="model">
				</wb-group>
			</md-content>
	    </div>
	</div>

  
	<!-- build:js(.) scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-aria/angular-aria.js"></script>
	<script src="bower_components/angular-messages/angular-messages.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-material/angular-material.js"></script>
	<script src="bower_components/angular-translate/angular-translate.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/weakmap-polyfill/weakmap-polyfill.js"></script>
	<script src="bower_components/moment/moment.js"></script>
	<script src="bower_components/numbro/numbro.js"></script>
	<script src="bower_components/pikaday/pikaday.js"></script>
	<script src="bower_components/zeroclipboard/dist/ZeroClipboard.js"></script>
	<script src="bower_components/handsontable/dist/handsontable.js"></script>
	<script src="bower_components/ngHandsontable/dist/ngHandsontable.js"></script>
	<script src="bower_components/tinycolor/tinycolor.js"></script>
	<script src="bower_components/md-color-picker/dist/mdColorPicker.min.js"></script>
	<script src="bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>
	<script src="bower_components/jspanel4x/dist/jspanel.js"></script>
	<script src="bower_components/lodash/lodash.js"></script>
	<script src="bower_components/tinymce/tinymce.js"></script>
	<script src="bower_components/object-path/index.js"></script>
	<script src="bower_components/flux/dist/Flux.js"></script>
	<script src="bower_components/mustache.js/mustache.js"></script>
	<script src="bower_components/ngstorage/ngStorage.js"></script>
	<script src="bower_components/am-wb-core/dist/am-wb-core.js"></script>
	<script src="bower_components/moment-jalaali/build/moment-jalaali.js"></script>
	<script src="bower_components/seen-core/dist/seen-core.js"></script>
	<script src="bower_components/seen-user/dist/seen-user.js"></script>
	<script src="bower_components/seen-cms/dist/seen-cms.js"></script>
	<script src="bower_components/lf-ng-md-file-input/dist/lf-ng-md-file-input.js"></script>
	<script src="bower_components/angular-uuid/uuid.min.js"></script>
	<script src="bower_components/am-wb-seen-core/dist/am-wb-seen-core.js"></script>
	<script src="bower_components/seen-monitor/dist/seen-monitor.js"></script>
	<script src="bower_components/d3/d3.js"></script>
	<script src="bower_components/nvd3/build/nv.d3.js"></script>
	<script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
	<script src="bower_components/angular-mocks/angular-mocks.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
	<!-- injector:js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers/metrics.js"></script>
	<script src="scripts/controllers/monitor.js"></script>
	<script src="scripts/runs/widgets.js"></script>
	<script src="scripts/demo.js"></script>
	<script src="scripts/test-ctrls/widgets.js"></script>
	<script src="scripts/test-runs/widgets.js"></script>
	<!-- endinjector -->
    <!-- endbuild -->
</body>
</html>
